
#logoCCSL {
	background: #336699 url(../images/ccsl.png) no-repeat scroll 20% 50%;
	background-position: center;
	background-repeat: no-repeat;
	display:block;
	float:left;
	text-align:justify;
	height: 100px;
	width: 250px;
}
#logoVRaptor {
	background-image: url(../images/logo-vraptor.png);
	background-position: center;
	background-repeat: no-repeat;
	display:block;
	float:left;
	text-align:justify;
	height: 100px;
	width: 100px;
}

#logoCogrooOrg {
	background-image: url(../images/cogroo_org.png);
	background-position: center;
	background-repeat: no-repeat;
	display:block;
	float:left;
	text-align:justify;
	height: 100px;
	width: 110px;
}

#stats {
	background-repeat: no-repeat;
	display: block;
	width: 400px;
	float: right;
	color: #ffffff;
	font-size: 10px;
	position: 50%;
	vertical-align: middle;
	padding-top: 18px;
	padding-right: 3px;
}

p.right {
	text-align: right;
}

#footer {
	background: #336699; 
	display: block;
	clear: both;
	height: 100px;
}
#footer #ftlink {
  padding-top: 0px;
}
#ftlink, #copyright {
  padding-bottom: 8px;
}
#copyright a {
  color: #000000;
}
#copyright a:hover {
  text-decoration: underline;
}
#ftlink, #ftlink a {
  color: #ef9e06;
}
#ftlink a:hover {
  text-decoration: underline;
  color: #9d6f4f;
}

