
#logoCCSL {
	background: url("../images/ccsl.png") no-repeat scroll center center #336699;
    float: left;
    height: 60px;
    margin-left: 15px;
    margin-top: 20px;
    width: 220px;
}

#logoCCSLLink {
	float: inherit;
	height: inherit;
	width: inherit;
}

#logoVRaptor {
	background-image: url("../images/logo-vraptor.png");
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
    height: 60px;
    margin-left: 15px;
    margin-top: 20px;
    text-align: justify;
    width: 100px;
}

#logoVRaptorLink {
	float: inherit;
	height: inherit;
	width: inherit;
}

#emailImage {
	background-image: url(../images/org_cogroo.png);
	background-position: center bottom;
	background-repeat: no-repeat;
	float: left;
    height: 20px;
    margin-left: 80px;
    margin-top: 80px;
    width: 100px;
}

#stats {
	background-repeat: no-repeat;
    color: #FFFFFF;
    float: right;
    font-size: 10px;
    padding-right: 3px;
    padding-top: 15px;
    width: 400px;
}

p.right {
	text-align: right;
}

#footer {
	background: #336699; 
	clear: both;
/* 	display: block; */
	height: 100px;
}
#footer #ftlink {
  padding-top: 0px;
}
#ftlink, #copyright {
  padding-bottom: 8px;
}
#copyright a {
  color: #000000;
}
#copyright a:hover {
  text-decoration: underline;
}
#ftlink, #ftlink a {
  color: #ef9e06;
}
#ftlink a:hover {
  text-decoration: underline;
  color: #9d6f4f;
}

