ul.menu{
	background: #333;
	height: 40px;
}
ul.menu li{
	list-style: none;
	float: left;
	display: block;	
	position: relative;
	margin: 0px;
	border-style: solid;
	border-width: 1px;
	border-color: #404040 #1a1a1a #1a1a1a #505050;
}
ul.menu li:hover, ul.menu li.hover{ /*Fix para z-index IE7 | .hover para IE6(requer Js)*/
	z-index: 10;
}
ul.menu li a, ul.menu li span{
	padding: 0px 25px;
	line-height: 38px;
	font-weight: bold;
/*	color: #4a6d8c !important;  */
	color: #f0f0ff !important;  
	display: block;
	cursor: pointer;
}

ul.menu li a:hover, ul.menu li:hover{
	color: #FFFFFF;
	background: #4698ca;
	border-top-color: #5db1e0 !important;
	border-left-color: #5db1e0;
}


/* -- sub-menus -- */
ul.menu li ul{
	position: absolute;
	background: #333;
	width: 170px;
	top: 39px;
	left: -1px;
	display: none;
	z-index: 10;
}
ul.menu li ul li{
	width: 100%;
	background: #333;
	position: relative;
	font-size: 10px;	
}
ul.menu li ul li:hover, ul.menu li ul li a:hover{
	color: #fff;
	background: #4698ca;
	border-top-color: #5db1e0 !important;
	border-left-color: #5db1e0;
}
ul.menu li ul li a{
	width: 110px;	
}
ul.menu li ul li ul{
	position: absolute;
	background: #333;
	width: 170px;
	top: 0;
	left: 171px;
	display: none;
}
ul.menu li ul li{
	width: 170px;
	background: #333;
}

