#content h1 {
  font-size: 30px;
  padding-bottom: 20px;	
}

#content h2 {
  font-size: 20px;
  padding-bottom: 6px;	
}

#content h3 {
  font-size: 18px;
}

#content h4 {
  font-size: 16px;
}

#content h5 {
  font-size: 15px;
}

#content {
  padding: 10px 30px;
  float: left;
  font-size: 13px;
  background: #F0F0FF; 
  width: 740px;  
}
#content #altura {
  height: 300px;
  width: 0px;
  float: left;
}
#content #left {
  width: 510px;
  float: left;
  font-size: 13px;
}
#content #left h2 {
  font-size: 30px;
  padding-bottom: 20px;
}
#content #right {
  width: 181px;
  float: right;
  padding-bottom: 30px;
}

#gallery {
/*  background: transparent url(images/gallery_bg.gif) no-repeat scroll 0% 50%; */
  height: 259px;
  padding-bottom: 20px;
}
#section {
/*  background: transparent url(images/section_bg.gif) no-repeat scroll 0% 50%; */
  height: 189px;
}
#section ul {
  padding-left: 40px;
  padding-top: 18px;
}
#section li a {
  line-height: 20px;
  text-decoration: underline;
  color: #ef9e06;
}
#section li a:hover {
  text-decoration: none;
  color: #9d6f4f;
}

#blog {
  background: transparent url(images/content_blog.gif) no-repeat scroll 0% 50%;
  height: 226px;
  margin-top: 55px;
}
#blog h2 {
  color: #f5c715;
}
#blog .quote {
  color: #8a6f00;
}
#blog .first {
  padding: 25px 30px 0;
}
.blog {
  padding: 25px 20px 0;
  width: 190px;
  float: left;
}
#right h2 {
  padding: 10px 0 0 15px;
  font-size: 24px;
}

SPAN.omission
{
	BACKGROUND-COLOR: #ADFF2F;
}

SPAN.badint
{
	BACKGROUND-COLOR: #FA8072;
}

SPAN.grammarerror
{
	border-bottom: 2px dotted;
	border-color: #0000FF
}

DIV.report_details
{
	border: 1px solid #D7D7D7;
	padding: 10px 0 0 15px;
	BACKGROUND-COLOR: #FAFAD2;
	margin-bottom:6px;
}

DIV.report_details_table
{
}

.report_details_table table {
	width: 100%;
}

.report_details_table table th {
	font-weight: bold; 
	font-size: 15px;
	text-align: right;
}

.report_details_table table td {
	font-size: 15px;
	padding-left: 2ex;
}

DIV.report_disscussion
{
	border: 1px solid #D7D7D7;
	padding: 10px 0 0 15px;
	BACKGROUND-COLOR: white;
	margin-bottom:6px;
}

DIV.report_answer
{
	padding: 10px 0 0 15px;
	margin-bottom:6px;
	BACKGROUND-COLOR: AliceBlue;
	width: 95%
}

h4, h5 {
	border-bottom:1px dotted #C0C0C0;
}

DIV.analise_text
{
	padding: 10px; padding-bottom: 10px; padding-left: 10px; padding-right: 10px; 
	BACKGROUND-COLOR: #FFFFFF;
	width: 95%;
	border-width: medium;
	border-color: #FFD700;
}

DIV.analise_text_correct
{
	padding: 10px; padding-bottom: 10px; padding-left: 10px; padding-right: 10px; 
	BACKGROUND-COLOR: PaleGreen;
	width: 95%;
	border-width: medium;
	border-color: #FFD700;
}

DIV.analise_text_incorrect
{
	padding: 10px; padding-bottom: 10px; padding-left: 10px; padding-right: 10px; 
	BACKGROUND-COLOR: LightSalmon;
	width: 95%;
	border-width: medium;
	border-color: #FFD700;
}

table.attributes { width: 100% }
table.attributes th { vertical-align: top; text-align: left; }
table.attributes td { vertical-align: top; }

.defaultlbl {
	display:block;
	float:left;
	width:250px;
}

.roundcorner {
	-moz-border-radius:5px 5px 5px 5px;
	background-color:#4A4A5A;
	margin:20px 0 10px;
	padding:10px;
}

.specialframe {
	background:none repeat scroll 0 0 #FFF8DC;
	border:3px solid #996666;
	padding:20px;
}

.twitter {
	float: right;
	position:relative;
	width:220px;
	height:330px;
}

.go_green {
	color:green;
}

.go_red {
	color:red;
}

.op {
	color:blue;
}

.state
{
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 2px;
	padding-right: 2px;
    BORDER: Gray 2px solid;
    BACKGROUND-COLOR: Gainsboro  
}

.element
{
	COLOR: Green;
}

.nelement
{
	COLOR: Red;
}

/*___________________________________ >>> .rule_details _____________________________________*/

.rule_details {
	border: 1px solid #D7D7D7;
	padding: 10px 0 0 15px;
	BACKGROUND-COLOR: #FAFAD2;
	margin-bottom:6px;
}

.rule_examples {
	border: 1px solid #D7D7D7;
	padding: 10px 0 0 15px;
	BACKGROUND-COLOR: White;
	margin-bottom:6px;
}

.rule_details table {
	width: 100%;
}

.rule_details table th {
	font-weight: bold;
	font-size: 15px;
	width: 160px;
	text-align: right;
}

.rule_details table td {
	font-size: 15px;
	padding-left: 2ex;
}

.rule_details table caption {
	font-size: 20px;
	background-color: #d6e2e5;	
	text-align: left;
	padding-top: 10px;
	margin-top: 10px;
	margin-bottom: 0.3em;
	border-bottom: 1px solid #333;
	padding-right: 0.3ex;
}


.rule_details legend {
	color: #8b4500; 
	float: right;
	font-size: 13px;
	font-weight: bold;
}
/*___________________________________ .rule_details <<< _____________________________________*/