#content h1 {
  font-size: 30px;
  padding-bottom: 20px;	
}

#content h2 {
  font-size: 20px;
  padding-bottom: 6px;	
}

#content h3 {
  font-size: 18px;
}

#content h4 {
  font-size: 16px;
}

#content h5 {
  font-size: 15px;
}

#content {
  padding: 10px 30px;
  float: left;
  font-size: 13px;
  background: #F0F0FF; 
  width: 964px;  
}
#content #altura {
  height: 300px;
  width: 0px;
  float: left;
}
#content #left {
  width: 510px;
  float: left;
  font-size: 13px;
}
#content #left h2 {
  font-size: 30px;
  padding-bottom: 20px;
}
#content #right {
  width: 181px;
  float: right;
  padding-bottom: 30px;
}

#gallery {
/*  background: transparent url(images/gallery_bg.gif) no-repeat scroll 0% 50%; */
  height: 259px;
  padding-bottom: 20px;
}
#section {
/*  background: transparent url(images/section_bg.gif) no-repeat scroll 0% 50%; */
  height: 189px;
}
#section ul {
  padding-left: 40px;
  padding-top: 18px;
}
#section li a {
  line-height: 20px;
  text-decoration: underline;
  color: #ef9e06;
}
#section li a:hover {
  text-decoration: none;
  color: #9d6f4f;
}

#blog {
  background: transparent url(images/content_blog.gif) no-repeat scroll 0% 50%;
  height: 226px;
  margin-top: 55px;
}
#blog h2 {
  color: #f5c715;
}
#blog .quote {
  color: #8a6f00;
}
#blog .first {
  padding: 25px 30px 0;
}
.blog {
  padding: 25px 20px 0;
  width: 190px;
  float: left;
}
#right h2 {
  padding: 10px 0 0 15px;
  font-size: 24px;
}

#sitemap .outside_list {
	padding-top: 10px;
	padding-left: 0px;
}	

#sitemap li {
  padding-left: 40px;
}

SPAN.omission
{
	BACKGROUND-COLOR: #ADFF2F;
}

SPAN.badint
{
	BACKGROUND-COLOR: #FA8072;
}

SPAN.grammarerror
{
	border-bottom: 2px dotted;
	border-color: #0000FF
}

DIV.report_details
{
	border: 1px solid #D7D7D7;
	padding: 10px 0 0 15px;
	BACKGROUND-COLOR: #FAFAD2;
	margin-bottom:6px;
}

DIV.help
{
	border: 1px solid #D7D7D7;
	padding: 15px 15px 15px 15px;
	BACKGROUND-COLOR: #FAFAD2;
	margin-bottom:6px;
	text-align: justify;
}

DIV.dashed_white {
	border: 1px dashed rgb(128, 128, 128); 
	margin-right: 12px; 
	padding: 15px 15px 15px 15px;
	margin-bottom:6px;
}

DIV.red_border_box {
	border: 2px solid red;
	margin-right: 12px; 
	padding: 5px 5px 5px 5px;
/*	BACKGROUND-COLOR: PaleGreen;*/
	margin-bottom:6px;
}

DIV.report_details_table
{
}

.report_details_table table {
	width: 100%;
}

.report_details_table table th {
	font-weight: bold; 
	font-size: 15px;
	text-align: right;
}

.report_details_table table td {
	font-size: 15px;
	padding-left: 2ex;
}

DIV.report_disscussion
{
	border: 1px solid #D7D7D7;
	padding: 10px 0 0 15px;
	BACKGROUND-COLOR: white;
	margin-bottom:6px;
}

DIV.report_answer
{
	padding: 10px 0 0 15px;
	margin-bottom:6px;
	BACKGROUND-COLOR: AliceBlue;
	width: 95%
}

h4.undeline, h5.undeline {
	border-bottom:1px dotted #C0C0C0;
}

DIV.analise_text
{
	padding: 10px; padding-bottom: 10px; padding-left: 10px; padding-right: 10px; 
	BACKGROUND-COLOR: #FFFFFF;
	width: 95%;
	border-width: medium;
	border-color: #FFD700;
}

DIV.analise_text_correct
{
	padding: 10px; padding-bottom: 10px; padding-left: 10px; padding-right: 10px; 
	BACKGROUND-COLOR: PaleGreen;
	width: 95%;
	border-width: medium;
	border-color: #FFD700;
}

DIV.analise_text_incorrect
{
	padding: 10px; padding-bottom: 10px; padding-left: 10px; padding-right: 10px; 
	BACKGROUND-COLOR: LightSalmon;
	width: 95%;
	border-width: medium;
	border-color: #FFD700;
}

table.attributes { width: 100% }
table.attributes th { vertical-align: top; text-align: left; }
table.attributes td { vertical-align: top; }

.defaultlbl {
	display:block;
	float:left;
	width:250px;
}

.roundcorner {
	-moz-border-radius:5px 5px 5px 5px;	/* Firefox 3.6 */
	border-radius:5px 5px 5px 5px;
	background-color:#4A4A5A;
	margin:20px 0 10px;
	padding:10px;
}

.loginframe {
	margin:0 auto;
	width:75%;
}

.loginframe hr {
	border-top: 2px dotted #FDBF3B;
	border-right: none;
	border-bottom: none;
	border-left: none;
}

.loginright {
	width: 300px ;
    background-color: #FFF8DC;
    border: 2px solid #FDBF3B;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    margin-top: 4em;
    margin-bottom: 4em;
    float:right;
}

.loginleft {
	width: 300px ;
    background-color: #FFF8DC;
    border: 2px solid #FDBF3B;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    margin-top: 4em;
    margin-bottom: 4em;
    float:left;
}

.logintitle {
	font-weight: bold;
	text-align: center;
}

.socialicon {
	margin-top: 4%;
	margin-left: 4%;
}

.loginlabel {
	text-align: right; 
	font-weight: bold; 
	padding-right: 10px;
	display: block;
	float: left;
	width: 110px;
}

.specialframe {
	background: none repeat scroll 0 0 #FFF8DC;
	border: 3px solid #996666;
	font-size: 15px;
	line-height: 200%;
	margin: 50px;
	padding: 30px;
}

.inputtxt {
    border: 1px solid #006;
    background: #ffc;
}

.inputtxt:focus {
    background: #fff;
}

.required {
    color: #BB0000;
}

.socialNetworks {
float: right;
position: relative;
margin: -5px 5px 0px 5px;
}

.twitter {
	width:220px;
	height:330px;
}

.facebook {

}

.go_green {
	color:green;
}

.go_red {
	color:red;
}

SPAN.help {
	font-size: x-small;
	vertical-align: sub;
	}

.op {
	color:blue;
}

.state
{
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 2px;
	padding-right: 2px;
    BORDER: Gray 2px solid;
    BACKGROUND-COLOR: Gainsboro  
}

.element
{
	COLOR: Green;
}

.nelement
{
	COLOR: Red;
}

/*___________________________________ >>> .rule_details _____________________________________*/

.rule_details {
	border: 1px solid #D7D7D7;
	padding: 10px 0 0 15px;
	BACKGROUND-COLOR: #FAFAD2;
	margin-bottom:6px;
}

.rule_examples { /* should use white_box */
	border: 1px solid #D7D7D7;
	padding: 10px 0 0 15px;
	BACKGROUND-COLOR: White;
	margin-bottom:6px;
}

DIV.white_box {
	border: 1px solid #D7D7D7;
	padding: 15px 15px 15px 15px;
	BACKGROUND-COLOR: White;
	margin-bottom:6px;
}

.rule_details table {
	width: 100%;
}

.rule_details table th {
	font-weight: bold;
	font-size: 15px;
	width: 160px;
	text-align: right;
}

.rule_details table td {
	font-size: 15px;
	padding-left: 2ex;
}

.rule_details table caption {
	font-size: 20px;
	background-color: #d6e2e5;	
	text-align: left;
	padding-top: 10px;
	margin-top: 10px;
	margin-bottom: 0.3em;
	border-bottom: 1px solid #333;
	padding-right: 0.3ex;
}


.rule_details legend {
	color: #8b4500; 
	float: right;
	font-size: 13px;
	font-weight: bold;
}
/*___________________________________ .rule_details <<< _____________________________________*/

/*___________________________________ >>> .about _____________________________________*/

#about {
 
}

#about h1              { font-size: 2em; line-height:150%;}
#about h2              { font-size: 1.5em;line-height:150%;}
#about h3              { font-size: 1.3em;line-height:150%;}

#about p              { line-height:150%;}

.yellow_box {
	border: 1px solid #D7D7D7;
	padding: 10px 10px 10px 15px;
	BACKGROUND-COLOR: #FAFAD2;
	margin-bottom:15px;
}

.blue_box {
	border: 1px solid #369;
	BACKGROUND-COLOR: #CEDFEF;
	margin-right: 12px; 
	padding: 15px 15px 15px 15px;
	margin-bottom:6px;
}

/* white_box */
/* dashed_white*/
/*___________________________________ .about <<< _____________________________________*/


ul.message li {
	display: inline;
}